@use "public_sites";
@use "custom_input";

body
{
	box-sizing: border-box;
	font-family: 'Inconsolata', monospace;
	background-color: #383838;
	color:white;
}

.four-o-four
{
	font-size: 40pt;
	font-weight: bold;
	align-self: center;
	margin-top: 5rem;

}
